<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <br />
      <h2 style="text-align: center">Lista de Expedientes</h2>
      <div style="text-align: right">
        <button
          mat-raised-button
          color="primary"
          routerLink="/components/proceedings/nuevo"
          style="background-color: #7c70c7"
        >
          Nuevo
        </button>
      </div>
      <br />
      <!--<mat-form-field>   <input matInput (keyup)="filter($event)" placeholder="buscar" />      </mat-form-field> -->

      <div class="listadoExpedientes">
        <div *ngFor="let pro of listaExpedientes">
          <mat-card class="expediente">
            <div class="expContHeader">
              <mat-card-header class="expHeader">
                <mat-card-title class="expHeaderTitle">
                  {{ pro.name }}
                </mat-card-title>
                <mat-card-subtitle class="subcolumn">
                  <p class="subSubtitle">ID: {{ pro.idProceeding }}</p>

                  <!-- <ng-container matColumnDef="accion02">
                    <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-icon style="color: #ff1e57" (click)="eliminar(element.idCategory)">delete_outline</mat-icon>
                    </td></ng-container> -->

                  <div class="subActions">
                    <div class="subEditar">
                      <ng-container matColumnDef="accion01">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell>
                          <mat-icon
                            style="color: rgb(30, 116, 255)"
                            [routerLink]="['ediciones', pro.idProceeding]"
                            >autorenew</mat-icon
                          >
                        </td></ng-container
                      >
                    </div>
                    <div class="subEliminar">
                      <ng-container matColumnDef="accion02">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell>
                          <mat-icon
                            style="color: #ff1e57"
                            (click)="eliminar(pro.idProceeding)"
                            >delete_outline</mat-icon
                          >
                        </td></ng-container
                      >
                    </div>
                  </div>
                </mat-card-subtitle>
              </mat-card-header>
            </div>
            <div class="expCont">
              <mat-card-content class="expContContent">
                <p>Estado: {{ proValue(pro.state) }}</p>
                <p>Juzgado: {{ pro.court.name }}</p>
                <p>
                  El/La abogado(a) {{ pro.lawyer.name }} atiende a
                  {{ pro.client.name }}
                </p>
              </mat-card-content>
            </div>
          </mat-card>
        </div>
      </div>

      <!--   <ng-container matColumnDef="accion01">
        <th [hidden]="role == 'CLIENTE'" mat-header-cell *matHeaderCellDef>
          Acciones
        </th>
        <td [hidden]="role == 'CLIENTE'" mat-cell *matCellDef="let element">
          <mat-icon
            style="color: rgb(30, 116, 255)"
            [routerLink]="['ediciones', element.idProceeding]"
            >autorenew</mat-icon
          >
          <mat-icon
            style="color: #ff1e57"
            (click)="eliminar(element.idProceeding)"
            >delete_outline</mat-icon
          >
        </td></ng-container
      > -->
    </div>
  </body>
</html>
